:root {
  --dark-grey: #0F0F0F;
  --light-grey: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
  color: white;
}